<table data-sly-use.mytable="com.myaem.core.models.MyMultifield">
    <tr data-sly-list.myMultifield="${mytable.items}">
        <td>
            ${myMultifield.buttonLinkTo}
            =============================================
        </td>
    </tr>
    <tr data-sly-list.myMultifield2="${mytable.items}">
        <td>
            ${myMultifield2.searchPath}

        </td>
    </tr>
    <tr data-sly-list.myMultifield3="${mytable.items}">
        <td>
            ${myMultifield3.selected}

        </td>
    </tr>
    <tr data-sly-list.myMultifield4="${mytable.items}">
        <td>
            ${myMultifield4.someText}

        </td>
    </tr>
    <tr data-sly-list.myMultifield5="${mytable.items}">
        <td>
            ${myMultifield5.datepicker}

        </td>
    </tr>
</table>
